.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px solid black;
}
.navlogo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navlogo p{
    color: gray;
    font-size: 38px;
    font-weight: 600;
}
.navmenu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: goldenrod;
    font-size: 20px;
    font-weight: 500;
}
.navmenu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.navmenu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: red;

}
.navlogincart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.navlogincart button{
    width: 157px;
    height: 58px;
    outline: none;
    border:  1px solid gray;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50px;
}
.navlogincart button:active{
    background-color: rgb(201, 201, 27);
}
.navcartcount{
    width: 22px;
    height: 22px;
    justify-content: center;
    display: flex;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;

}